{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static custom_tags %}

{% block body_class %}single-content{% endblock %}

{% block content %}
<section class="youplay-banner banner-top youplay-banner-parallax small">
    
    <div class="image" data-speed="0.4" style="z-index: 0;">
        
    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><img src="{% static 'images/background_improved.png' %}" alt="" class="jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 277.094px; width: 1399.81px; height: 980.4px; overflow: hidden; pointer-events: none; margin-top: 176.8px; transform: translate3d(0px, -176.763px, 0px);"></div></div>


<div class="info" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
    <div>
        <div class="container">
            
            
                <h1 class="h1">{{ category }}</h1>
            
            
            
        </div>
    </div>
</div>
</section>
    
      <section class="main-container">
        <div class="container youplay-news news-grid">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->
              


                <div class="row vertical-gutter multi-columns-row">
                 {% for post_page in blogposts %}

                     {% for post  in post_page %}{% with post=post.specific %}
                      <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="news-one">
                            <a href="{% pageurl post %}" class="angled-img">
                                {% image post.header_image original as cover_photo %}
                                <div class="img" style="background-image: url('{{ cover_photo.url }}')"></div>
                                <div class="bottom-info align-center">
                                    <h3>{{ post.title }}</h3>
                                    <span class="date">
                                      <i class="fa fa-calendar"></i>
                                      <span class="day">{{ post.date|date:"d" }}</span>
                                      <span class="month">{{ post.date|date:"M Y" }}</span>
                                    </span>
                                    <div class="description">
                                        {{ post.body|slice:"0:100"|richtext }}
                                    </div>
                                </div>
                            </a>
                        </div>
                      </div>
                     {% endwith %}{% endfor %}
                {% endfor %}


              </div>
              <!-- masonry grid end -->

            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
{% endblock %}
