{% load static custom_tags %}
<footer id="footer" class="youplay-footer-parallax">
    <div class="image" data-speed="0.4" style="z-index: 0;">
        <img src="{% static 'images/squirrel_army.png' %}" class="jarallax-img" alt="" srcset="{% static 'images/squirrel_army.png' %}" sizes="(max-width: 1400px) 100vw, 1400px">
    </div>
    <div class="wrapper" style="transform: translate3d(0px, 0%, 0px);">
        <div class="social">
            <div class="container" style="transform: translate3d(0px, 0px, 0px); opacity: 0.999853;">
                <h3>Connect socially with <strong>GeekBeacon</strong></h3>
                <div class="social-icons">
                    <div class="social-icon">
                        <a href="https://www.facebook.com/people/Nk-Dev/100005706677229" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <span>Like on Facebook</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://twitter.com/nkdevv" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                            <span>Follow on Twitter</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://plus.google.com/105540650896894558095/posts" target="_blank">
                            <i class="fa fa-google-plus-square"></i>
                            <span>Follow on Google+</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="http://www.youtube.com/user/nKdevelopers" target="_blank">
                            <i class="fa fa-youtube-square"></i>
                            <span>Watch on Youtube</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div>
                    <strong>GeekBeacon</strong>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- footer end -->

<!-- Object Fit Polyfill -->
<script src="{% static 'vendor/object-fit-images/dist/ofi.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>

<!-- jQuery Countdown -->
<script src="{% static 'vendor/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>

<!-- Moment.js -->
<script src="{% static 'vendor/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendor/moment-timezone/builds/moment-timezone-with-data.min.js' %}"></script>

<!-- ImagesLoaded -->
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>

<!-- Social Likes -->
<script src="{% static 'vendor/social-likes/dist/social-likes.min.js' %}"></script>

<!-- Youplay -->
<script src="{% static 'js/youplay.min.js' %}"></script>
<script src="{% static 'js/youplay-init.js' %}"></script>
